/*Styles Généraux*/
* {
    box-sizing: border-box;
}

body {
    background-color: #156666;
    margin: 0;
    position:relative;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

/*Gestion du header*/
header{
    height: 14vh;
    width: 100vw;
    background-color: #2AD0D0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.ham_menu_icon{
    display: none;
}

.tt_logo{
    width: auto;
    height: 100%;
}

.header_right{
    display: none;
}

@media screen and (max-width: 500px) {
    .ham_menu_icon{
        width: 16vw;
        display: flex;
        cursor: pointer;
    }
    .tt_logo{
        width: 55vw;
    }
    .header_right {
        color: #2AD0D0;
        width: 10vw;
        display: flex;
    }
}

/*Gestion du menu*/
.menu-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25vw;
}

.menu-list{
    display:flex;
    flex-direction: row;
    background-color: #1D9090;
    border-bottom: 0.3vw solid #26BBBB;
    border-right: 0.3vw solid #26BBBB;
    align-items: center;
    align-content: center;
    height: 14.3vh;
}
.menu-icon{
    margin-left: 2vw;
    width: 4vw;
}
.menu-content a{
    display:flex;
    text-decoration: underline;
    color: white;
    font-weight: bold;
    font-size: 24px;
    padding-left: 5%;
    cursor: pointer;
}
.btn-back{
    display:flex;
    text-decoration: underline;
    color: white;
    font-weight: bold;
    font-size: 24px;
    padding-left: 5%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .menu-list{
        width: 100vw;
        height: 17.2vh;
        border-bottom: 1vw solid #26BBBB;
    }
    .menu-icon{
        width: 16vw;
    }
    .btn-back{
        display: none;
    }
}

.show {
    display:flex;
}



/*Contenu*/